#BN {display: flex;
   justify-content: center;
}
#VD {display: flex;
   justify-content: center;
}
#LV1 {display: flex;
   justify-content: center;
}
#LV2 {display: flex;
   justify-content: center;
}
#LV3 {display: flex;
   justify-content: center;
}
#FIM {display: flex;
   justify-content: center;
}
